@import "./../styleguide/styles/_colors";
@import "./../styleguide/styles/_dimens";
@import "./../styleguide/styles/_animations";

// Icons - Leave it here to otherfiles can extend if needed
@import "./../styleguide/styles/_icons";

@import "./../styleguide/styles/_normalize";
@import "./../styleguide/styles/_mediaqueries";
@import "./../styleguide/styles/_typography";
@import "./../styleguide/styles/_button";
@import "./../styleguide/styles/_list";
@import "./../styleguide/styles/_link";
@import "./../styleguide/styles/_table";
@import "./../styleguide/styles/_grid";
@import "./../styleguide/styles/_media";
@import "./../styleguide/styles/_base";

/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: flex;
  width: 100%;
  height: 60px;

  position: relative;
  
  flex-direction: row;
  
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  transform: translate(250px, 0);
}

.app-bar .logo {
  max-width: none;

  float: none;

  flex: 1;
  
  margin: 0 16px;
  padding: 0;

  font-size: 2em;
  font-weight: 300;
  line-height: 60px;

  color: #fefefe;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: flex;
  
  flex-direction: row;
  
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  
  padding: 0;

  background-image: none;
  background-color: transparent;
  
  border: none;
  
  transition: background-color 0.2s ease-out;
  
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

.navdrawer-container {
  width: 250px;
  height: 100%;

  position: fixed;

  top: 0;
  bottom: 0;

  z-index: 1;
  
  background-color: #3367D6;
  color: #fefefe;
  
  transform: translate(-250px, 0);
  
  overflow-y: auto;
}

.navdrawer-container.open {
  transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  
  padding: 17px 20px;
  
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  
  text-decoration: none;
  color: white;
  
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;

  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);

  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  min-height: 100%;

  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
}

/** Larger Screens - desktops and tablets **/
@include mq-wide {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;

    height: 130px;
    max-width: 864px;
    
    padding: 0 16px;
    box-sizing: border-box;
    
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    
    margin: 0;
    padding: 0;

    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;

    height: 0;
    
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  nav {
    display: block;

    margin-top: 130px;
  }

  .navdrawer-container {
    width: 100%;
    height: auto;

    position: relative;

    margin-top: 130px;

    transform: translate(0, 0);
    transition: none;

    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: flex;

    max-width: 864px;
    
    flex-direction: row;

    margin: 0 auto;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    max-width: 864px;
    min-height: initial;

    padding-top: 0;
  }

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;

    margin-top: 0;
  }
}