<section class="section--footer mdl-color--white mdl-grid">
  <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
  </div>
  <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <h5>Lorem ipsum dolor sit amet</h5>
    Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
  </div>
  <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
    <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
  </div>
  <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <h5>Lorem ipsum dolor sit amet</h5>
    Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
  </div>
</section>
