@import "./mixins/_typography";
@import "./style/_color-variables";

/* ==========================================================================
   Helper classes (By Default not included in styleguide.scss)
   ========================================================================== */

.u-clear {
  &::before,
  &::after {
    content:"";
    display:table;
  }
  &::after {
    clear:both;
  }
}

.u-centered {
  text-align: center;
}

/* Prevent callout */
.u-nocallout {
  -webkit-touch-callout: none;
}

.u-pressed {
  background-color: rgba(0, 0, 0, 0.7);
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.u-hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.u-visuallyhidden-focusable:active,
.u-visuallyhidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.u-invisible {
  visibility: hidden;
}

.u-tag {
  @include type--small;
  font-family: $fontHighlight;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;

  &:hover {
    color: $colorGrayDark;
  }

  &::before {
    content: "# ";
    display: inline-block;
  }
}
