@import "./../_dimens";
@import "./../mixins/_typography";

/** @define Typography; use strict */

/**
*
* Font Face Imports
*
**/
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}

@font-face {
  font-family:"icons";
  src:  url(/fonts/icons.eot) format('embedded-opentype'),
        url(/fonts/icons.eot?#iefix) format('embedded-opentype'),
        url(/fonts/icons.woff2) format('woff2'),
        url(/fonts/icons.woff) format('woff'),
        url(/fonts/icons.ttf) format('truetype'),
        url(/fonts/icons.svg?#icons) format('svg');
  font-weight:normal;
  font-style:normal;
}

.icon {
  font-family:"icons";
  display:inline-block;
  vertical-align:top;
  line-height:1;
  font-weight:normal;
  font-style:normal;
  speak:none;
  text-decoration:inherit;
  text-transform:none;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

// Just normalizing text
// Recommend using padding instead of margin
h1, h2, h3, h4, h5, p {
  margin: 0;
}

// Definitions
.Typography-small,
small {
  @include type--small;
}

.Typography-base,
p,
ul,
ol {
  @include type--base;
}

.Typography-medium,
h4 {
  @include type--medium;
}

.Typography-large,
h3 {
  @include type--large;
}
.Typography-xlarge,
h2 {
  @include type--xlarge;
}

.Typography-xxlarge,
h1 {
  @include type--xxlarge;
}

.Typography-huge {
  @include type--huge;
}


li > p {
  padding-top: 0;
}
