@import "../palette/palette";
@import "../animation/animation";
@import "../ripple/ripple";

// Icon toggle colors and sizes.
$icon-toggle-size: 32px;
$icon-toggle-font-size: 24px;
$icon-toggle-color: nth($paletteGrey, 8);
$icon-toggle-focus-color: rgba(black, 0.12);
$icon-toggle-checked-color: nth($primaryPalette, 6);
$disabled-toggle-color: rgba(#000, 0.26);

input[type=checkbox].IconToggle {
  // Hide input elements, while still making them respond to focus.
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

label.IconToggle-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: $icon-toggle-size;
  width: $icon-toggle-size;
  min-width: $icon-toggle-size;
  line-height: $icon-toggle-size;
  color: $icon-toggle-color;
  border-radius: 50%;
  font-size: $icon-toggle-font-size;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: transparent;
  will-change: background-color;
  transition: background-color 0.2s $animation-curve-default,
              color 0.2s $animation-curve-default;
}

label.IconToggle-label:hover {
  color: black;
}

label.IconToggle-label.is-checked {
  color: $icon-toggle-checked-color;
}

label.IconToggle-label.is-disabled {
  color: $disabled-toggle-color;
  cursor: auto;
  transition: none;
}

label.IconToggle-label.is-focused {
  background-color: $icon-toggle-focus-color;
}


.IconToggle-rippleContainer {
  border-radius: 50%;
  display: block;
  height: $icon-toggle-size;
  width: $icon-toggle-size;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 5;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

label.IconToggle-label.is-disabled .Ripple {
  background-color: transparent;
}
