extends jade/default

block append css
  //- Material Design Lite page styles:
  //- You can choose other color schemes from the CDN, more info here http://www.getmdl.io/customize/index.html
  //- Format: material.color1-color2.min.css, some examples:
  //- material.red-teal.min.css
  //- material.blue-orange.min.css
  //- material.purple-indigo.min.css
  link(rel="stylesheet", href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css")

block body
  .mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
        .mdl-layout--large-screen-only.mdl-layout__header-row
        .mdl-layout--large-screen-only.mdl-layout__header-row
          h3 Web Starter Kit
        .mdl-layout--large-screen-only.mdl-layout__header-row
        .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
          a(href="#overview", class="mdl-layout__tab is-active") Overview
          a(href="#features", class="mdl-layout__tab") Features
          a(href="#features", class="mdl-layout__tab") Details
          a(href="#features", class="mdl-layout__tab") Technology
          a(href="#features", class="mdl-layout__tab") FAQ
          button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent#add
            i.material-icons(role="presentation") add
            span.visuallyhidden Add
      main.mdl-layout__content
        .mdl-layout__tab-panel.is-active#overview
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white
              i.material-icons play_circle_filled
            .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
              .mdl-card__supporting-text
                h4 Features
                p.
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
              
              .mdl-card__action
                a(href="#", class="mdl-button") Read our features
            button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon#btn1
              i.material-icons more_vert
          
            ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for="btn1")
              li.mdl-menu__item Lorem
              li.mdl-menu__item Ipsum
              li.mdl-menu__item Dolor

          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col
              .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
                h4.mdl-cell.mdl-cell--12-col Details
                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                  .section__circle-container__circle.mdl-color--primary
                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                  h5 Lorem ipsum dolor sit amet
                  p.
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                  .section__circle-container__circle.mdl-color--primary

                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                  h5 Lorem ipsum dolor sit amet
                  p.
                    Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
                .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
                  .section__circle-container__circle.mdl-color--primary
                .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
                  h5 Lorem ipsum dolor sit amet
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis <a href="#">proident minim</a>.
              .mdl-card__actions
                a(href="#" class="mdl-button") Read our features
            button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon#btn2
              i.material-icons more_vert
            ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for="btn2")
              li.mdl-menu__item Lorem
              li.mdl-menu__item(disabled) Lorem
              li.mdl-menu__item Dolor
          section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
            .mdl-card.mdl-cell.mdl-cell--12-col
              .mdl-card__supporting-text
                h4 Technology.
                p Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse. Pariatur occaecat nisi laboris tempor laboris eiusmod qui id Lorem esse commodo in. Exercitation aute dolore deserunt culpa consequat elit labore incididunt elit anim.
              .mdl-card__actions
                a(href="#" class="mdl-button") Read our features
            button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon#btn3
              i.material-icons more_vert
            ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right(for="btn3")
              li.mdl-menu__item Lorem
              li.mdl-menu__item(disabled) Lorem
              li.mdl-menu__item Dolor
          section.section--footer.mdl-color--white.mdl-grid
            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
              .section__circle-container__circle.mdl-color--accent.section__circle--big
            .section__text.mdl-cell.mdl-cell--4-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
              h5 Lorem ipsum dolor sit amet
              p Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
            .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
              .section__circle-container__circle.mdl-color--accent.section__circle--big
            .section__text.mdl-cell.mdl-cell--4-col-desktop.mdl-cell--6-col-tablet.dl-cell--3-col-phone
              h5 Lorem ipsum dolor sit amet
              p Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
        .mdl-layout__tab-panel#features
          section.section--center.mdl-grid.mdl-grid--no-spacing
            .mdl-cell.mdl-cell--12-col
              h4 Features
              p Minim duis incididunt est cillum est ex occaecat consectetur. Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
              ul.toc
                h4 Contents
                a(href="#lorem1") Lorem ipsum
                a(href="#lorem1") Lorem ipsum
                a(href="#lorem1") Lorem ipsum
                a(href="#lorem1") Lorem ipsum
                a(href="#lorem1") Lorem ipsum

              h5#lorem1 Lorem ipsum dolor sit amet
              p Excepteur et pariatur officia veniam anim culpa cupidatat consequat ad velit culpa est non.
              ul
                li Nisi qui nisi duis commodo duis reprehenderit consequat velit aliquip.
                li Dolor consectetur incididunt in ipsum laborum non et irure pariatur excepteur anim occaecat officia sint.
                li Lorem labore proident officia excepteur do.

              p.
                Sit qui est voluptate proident minim cillum in aliquip cupidatat labore pariatur id tempor id. Proident occaecat occaecat sint mollit tempor duis dolor cillum anim. Dolore sunt ea mollit fugiat in aliqua consequat nostrud aliqua ut irure in dolore. Proident aliqua culpa sint sint exercitation. Non proident occaecat reprehenderit veniam et proident dolor id culpa ea tempor do dolor. Nulla adipisicing qui fugiat id dolor. Nostrud magna voluptate irure veniam veniam labore ipsum deserunt adipisicing laboris amet eu irure. Sunt dolore nisi velit sit id. Nostrud voluptate labore proident cupidatat enim amet Lorem officia magna excepteur occaecat eu qui. Exercitation culpa deserunt non et tempor et non.
              p.
                Do dolor eiusmod eu mollit dolore nostrud deserunt cillum irure esse sint irure fugiat exercitation. Magna sit voluptate id in tempor elit veniam enim cupidatat ea labore elit. Aliqua pariatur eu nulla labore magna dolore mollit occaecat sint commodo culpa. Eu non minim duis pariatur Lorem quis exercitation. Sunt qui ex incididunt sit anim incididunt sit elit ad officia id.
              p#lorem2.
                Tempor voluptate ex consequat fugiat aliqua. Do sit et reprehenderit culpa deserunt culpa. Excepteur quis minim mollit irure nulla excepteur enim quis in laborum. Aliqua elit voluptate ad deserunt nulla reprehenderit adipisicing sint. Est in eiusmod exercitation esse commodo. Ea reprehenderit exercitation veniam adipisicing minim nostrud. Veniam dolore ex ea occaecat non enim minim id ut aliqua adipisicing ad. Occaecat excepteur aliqua tempor cupidatat aute dolore deserunt ipsum qui incididunt aliqua occaecat sit quis. Culpa sint aliqua aliqua reprehenderit veniam irure fugiat ea ad.
              p.
                Eu minim fugiat laborum irure veniam Lorem aliqua enim. Aliqua veniam incididunt consequat irure consequat tempor do nisi deserunt. Elit dolore ad quis consectetur sint laborum anim magna do nostrud amet. Ea nulla sit consequat quis qui irure dolor. Sint deserunt excepteur consectetur magna irure. Dolor tempor exercitation dolore pariatur incididunt ut laboris fugiat ipsum sunt veniam aute sunt labore. Non dolore sit nostrud eu ad excepteur cillum eu ex Lorem duis.
              p.
                Id occaecat velit non ipsum occaecat aliqua quis ut. Eiusmod est magna non esse est ex incididunt aute ullamco. Cillum excepteur sint ipsum qui quis velit incididunt amet. Qui deserunt anim enim laborum cillum reprehenderit duis mollit amet ad officia enim. Minim sint et quis aliqua aliqua do minim officia dolor deserunt ipsum laboris. Nulla nisi voluptate consectetur est voluptate et amet. Occaecat ut quis adipisicing ad enim. Magna est magna sit duis proident veniam reprehenderit fugiat reprehenderit enim velit ex. Ullamco laboris culpa irure aliquip ad Lorem consequat veniam ad ipsum eu. Ipsum culpa dolore sunt officia laborum quis.
              
              h5#lorem3 Lorem ipsum dolor sit amet

              p#lorem4.
                Eiusmod nulla aliquip ipsum reprehenderit nostrud non excepteur mollit amet esse est est dolor. Dolore quis pariatur sit consectetur veniam esse ullamco duis Lorem qui enim ut veniam. Officia deserunt minim duis laborum dolor in velit pariatur commodo ullamco eu. Aute adipisicing ad duis labore laboris do mollit dolor cillum sunt aliqua ullamco. Esse tempor quis cillum consequat reprehenderit. Adipisicing proident anim eu sint elit aliqua anim dolore cupidatat fugiat aliquip qui.
              p#lorem5.
                Nisi eiusmod esse cupidatat excepteur exercitation ipsum reprehenderit nostrud deserunt aliqua ullamco. Anim est irure commodo eiusmod pariatur officia. Est dolor ipsum excepteur magna aliqua ad veniam irure qui occaecat eiusmod aute fugiat commodo. Quis mollit incididunt amet sit minim velit eu fugiat voluptate excepteur. Sit minim id pariatur ex cupidatat cupidatat nostrud nostrud ipsum.
              p.
                Enim ea officia excepteur ad veniam id reprehenderit eiusmod esse mollit consequat. Esse non aute ullamco Lorem aliqua qui dolore irure eiusmod aute aliqua proident labore aliqua. Ipsum voluptate voluptate exercitation laborum deserunt nulla elit aliquip et minim ex veniam. Duis cupidatat aute sunt officia mollit dolor ad elit ad aute labore nostrud duis pariatur. In est sint voluptate consectetur velit ea non labore. Ut duis ea aliqua consequat nulla laboris fugiat aute id culpa proident. Minim eiusmod laboris enim Lorem nisi excepteur mollit voluptate enim labore reprehenderit officia mollit.
              p.
                Cupidatat labore nisi ut sunt voluptate quis sunt qui ad Lorem esse nisi. Ex esse velit ullamco incididunt occaecat dolore veniam tempor minim adipisicing amet. Consequat in exercitation est elit anim consequat cillum sint labore cillum. Aliquip mollit laboris ad labore anim.

        footer.mdl-mega-footer
          .mdl-mega-footer--middle-section
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type="checkbox" checked)
              h1.mdl-mega-footer--heading Features
              ul.mdl-mega-footer--link-list
                li
                  a(href="#") About
                li
                  a(href="#") Terms
                li
                  a(href="#") Partners
                li
                  a(href="#") Updates
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type="checkbox" checked)
              h1.mdl-mega-footer--heading Details
              ul.mdl-mega-footer--link-list
                li
                  a(href="#") Spec
                li
                  a(href="#") Tools
                li
                  a(href="#") Resources
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type="checkbox" checked)
              h1.mdl-mega-footer--heading Technology
              ul.mdl-mega-footer--link-list
                li
                  a(href="#") How it works
                li
                  a(href="#") Patterns
                li
                  a(href="#") Usage
                li
                  a(href="#") Products
                li
                  a(href="#") Contracts
                li
                  a(href="#") Usage
            .mdl-mega-footer--drop-down-section
              input.mdl-mega-footer--heading-checkbox(type="checkbox" checked)
              h1.mdl-mega-footer--heading FAQ
              ul.mdl-mega-footer--link-list
                li
                  a(href="#") Questions
                li
                  a(href="#") Answers
                li
                  a(href="#") Contact us
          .mdl-mega-footer--bottom-section
            .mdl-logo More Information
            ul.mdl-mega-footer--link-list
              li
                a(href="https://developers.google.com/web/starter-kit/") Web Starter Kit
              li 
                a(href="#") Help
              li
                a(href="#") Privacy and Terms
                
    block append js
      script(src="https://code.getmdl.io/1.2.1/material.min.js")
    