@import "./../style/_colors";
@import "./../style/_icons";
@import "./../mixins/_typography";

/**
*
* Link
*
**/

@import "./../mixins/_links";

a {
  color: $colorBlue;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-link($colorBlue, $icon-chevron-right);
}

.cta--secondary {
  @include style-link($colorBlue);
}
