/** @define RadioButton; use strict */

.paper-radio__label {
	position: relative;

	display: inline-block;

	width: 100%;
	margin: 12px 0;

	cursor: pointer;
}

.paper-radio__button {
	display: none;
	visibility: hidden;
}

.paper-radio__outer-circle {
	position: relative;
	top: .125em;

	display: inline-block;

	width: 1em;
	height: 1em;
	margin-right: 10px;

	cursor: pointer;

	border: 2px solid #5a5a5a;
	border-radius: 50%;
}

.paper-radio__inner-circle {
	position: absolute;
	z-index: 1;
	top: .0625em;
	left: -.0625em;

	width: 1.125em;
	height: 1.125em;

	transition: all .3s ease-in;
	-webkit-transform: scale3d(0,0,0);
			transform: scale3d(0,0,0);

	border-radius: 50%;
	background: #0f9d58;

	.paper-radio__button:checked ~ & {
		-webkit-transform: scale3d(1,1,1);
				transform: scale3d(1,1,1);
	}
}

.paper-radio__ripple {
	position: absolute;
	z-index: 2;
	top: -1em;
	left: -1em;

	width: 3em;
	height: 3em;

	transition: opacity .2s ease-in-out;

	opacity: 0;
	border-radius: 50%;
	background: #0f9d58;

	&.is-active {
		opacity: .2;
	}
}