.paper-button.paper-floating-action-button {
  border: none;
  font-size: 24px;
  color: white;
  background-color: #ff4081;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
}

.paper-button.paper-floating-action-button:hover {
  background-color: #ff4060;
}

.paper-button.paper-floating-action-button.small {
  width: 40px;
  height: 40px;
}

/* FAB demo overrides*/
.purple {
  background-color: #e040fb !important;
}

.purple:hover {
  background-color: #e040da !important;
}

.custom-ripple {
  background-color: yellow !important;
}
