.paper-input{
  position: relative;
  width: 300px;
  margin: 20px 0;
}

textarea{
  resize: none;
  overflow: auto;
}

.text-input{
  display: block;
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 16px;
  padding: 8px 0px;
}

.text-input[disabled]{
  border-bottom: 1px dashed rgba(0,0,0, 0.12);
  background-color: transparent;
}

.text-input ~ label{
  font-size: 16px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  bottom: 0px;
  color: rgba(0, 0, 0, 0.26);
}

.text-input.floating-label ~label{
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.text-input:focus {
  outline: none;
}

.text-input ~ label:after{
  content: '';
  background-color: #3f51b5;
  height: 2px;
  width: 10px;
  bottom: 0;
  left: 45%;
  visibility: hidden;
  position: absolute;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.text-input:focus ~ label:after{
  visibility: visible;
  width: 100%;
  left: 0;
}

.text-input.dirty ~ label{
  visibility: hidden;
}

.text-input.floating-label:focus ~ label,
.text-input.floating-label.dirty ~ label{
  visibility: visible;
  top: -10px;
  font-size: 12px;
  color: #3f51b5;
}

.text-input.floating-label:invalid ~ label{
  top: -10px;
  font-size: 12px;
  color: #d34336;
}

.error{
  float: left;
  margin-top: 3px;
  color: #d34336;
  font-size: 12px;
  visibility: hidden;
}

.text-input:invalid ~label:after{
  background-color: #d34336;
}

.text-input:invalid ~.error{
  visibility: visible;
}

.text-input:invalid{
  box-shadow: none;
  border-color: #d34336; 
}