progress, progress[value] {
  height: 6px;
  width: 500px;
  background-color: #0f9d58;
}

/* Demo specific */
.progress-content {
  margin: 1em;
  background-color: white;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.progress-content h2 {
  color: #ccc;
}

.progress-content h4 {
  margin: 4px;
  padding: 2px;
}

.progress-content .pad-bottom {
  margin-bottom: 25px;
  margin-left: 6px;
}
