/* Layout
****************/

.slider {
  width: 640px;
  margin: 30px auto; 
}

/* Component
****************/
.slider {
  height: 2rem;
  position: relative;
  user-select: none;
}

.progress {
  position: relative;
  width: 100%;
  height: 2px;
  opacity: 1;
  overflow: hidden; 
  background-color: #ccc;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0;
  /* Same speed as .slideKnobInner transition */
  transition: width 0.08s, transform 0.08s;
}
  
.progress.active {
  background-color: #f4b400;
  width: 0;
}

.sliderKnob {
  *border: 1px solid;
  width: 2rem;
  height: 2rem;
  display: block; 
  position: relative;
  left: -.75rem;
}

.sliderKnobInner {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  cursor:pointer;
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  display: block;
  background-color: #f4b400;
  transform: translateZ(0);
  /* Same speed as .progress transition */
  transition: height 0.18s ease, width 0.18s ease, background-color 0.28s ease, border 0.18s ease, transform 0.08s;
  }

.sliderKnobInner.ring {
  border: 2px solid #ccc;
  background-color: #fff;
}

.sliderKnobInner.dragging {
  width: 100%;
  height: 100%;
}
