/**
*
* Link
*
**/

a {
  color: $colorBlue500;
}

a:hover {
  text-decoration: none;
}

.cta--primary {
  @include style-cta($colorBlue500, $icon-chevron-right);
}

.cta--secondary {
  @include style-cta($colorBlue500);
}
