/**
*
* Typography
*
**/


@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: url(/fonts/RobotoCondensed-Light.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-Light.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-Light.woff) format('woff'),
    url(/fonts/RobotoCondensed-Light.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-Light.svg?#icons) format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: url(/fonts/RobotoCondensed-Regular.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-Regular.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-Regular.woff) format('woff'),
    url(/fonts/RobotoCondensed-Regular.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-Regular.svg?#icons) format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: url(/fonts/RobotoCondensed-Bold.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-Bold.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-Bold.woff) format('woff'),
    url(/fonts/RobotoCondensed-Bold.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-Bold.svg?#icons) format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: url(/fonts/RobotoCondensed-LightItalic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-LightItalic.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-LightItalic.woff) format('woff'),
    url(/fonts/RobotoCondensed-LightItalic.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-LightItalic.svg?#icons) format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: url(/fonts/RobotoCondensed-Italic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-Italic.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-Italic.woff) format('woff'),
    url(/fonts/RobotoCondensed-Italic.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-Italic.svg?#icons) format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: url(/fonts/RobotoCondensed-BoldItalic.eot?#iefix) format('embedded-opentype'),
    url(/fonts/RobotoCondensed-BoldItalic.woff2) format('woff2'),
    url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff'),
    url(/fonts/RobotoCondensed-BoldItalic.ttf) format('truetype'),
    url(/fonts/RobotoCondensed-BoldItalic.svg?#icons) format('svg');
}

// Just normalizing text
// Recommend using padding instead of margin
h1, h2, h3, h4, h5, p {
  margin: 0;
}

// Definitions
.small,
small {
  @include type--small;
}

.base,
p,
ul,
ol {
  @include type--base;
}

.medium,
h4 {
  @include type--medium;
}

.large,
h3 {
  @include type--large;
}
.xlarge,
h2 {
  @include type--xlarge;
}

.xxlarge,
h1 {
  @include type--xxlarge;
}

.huge {
  @include type--huge;
}


li > p {
  padding-top: 0;
}
