@charset "UTF-8";
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
html, body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/**
 * Styles for HTML elements
 */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em;
}

h1 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

h2 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

h6 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 0 0 16px 0;
}

a {
  font-weight: bold;
}

blockquote {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.08em;
}
blockquote:before {
  content: '“';
  opacity: 0.54;
}
blockquote:after {
  content: '”';
  opacity: 0.54;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

/**
 * Class Name Styles
 */
.Typography--display-4 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
}

.Typography--display-4--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
  opacity: 0.54;
}

.Typography--display-3 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.Typography--display-3--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  opacity: 0.54;
}

.Typography--display-2 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

.Typography--display-2--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  opacity: 0.54;
}

.Typography--display-1 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.Typography--display-1--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.54;
}

.Typography--headline {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

.Typography--headline--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.87;
}

.Typography--title {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.Typography--title--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.87;
}

.Typography--subhead {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--subhead--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--Body-2--colorContrast {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--body-1--colorContrast {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-2--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--Body-2--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-1--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--body-1--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
}

.Typography--caption--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
}

.Typography--caption--colorContrast {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  opacity: 0.54;
}

.Typography--caption--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  opacity: 0.54;
}

.Typography--menu {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
}

.Typography--menu--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--button {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
}

.Typography--button--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--textLeft {
  text-align: left;
}

.Typography--textRight {
  text-align: right;
}

.Typography--textCenter {
  text-align: center;
}

.Typography--textJustify {
  text-align: justify;
}

.Typography--textNowrap {
  white-space: nowrap;
}

.Typography--textLowercase {
  text-transform: lowercase;
}

.Typography--textUppercase {
  text-transform: uppercase;
}

.Typography--textCapitalize {
  text-transform: capitalize;
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/* ==========  Color Palettes  ========== */
/* ==========  Used Palettes  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/* ==========  Color Palettes  ========== */
/* ==========  Used Palettes  ========== */
/**
*
* Material design color palettes.
* @see http://www.google.com/design/spec/style/color.html
*
**/
/* ==========  Color Palettes  ========== */
/* ==========  Used Palettes  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
html, body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/**
 * Styles for HTML elements
 */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em;
}

h1 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

h2 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

h3 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

h5 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

h6 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin: 0 0 16px 0;
}

a {
  font-weight: bold;
}

blockquote {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
  letter-spacing: 0.08em;
}
blockquote:before {
  content: '“';
  opacity: 0.54;
}
blockquote:after {
  content: '”';
  opacity: 0.54;
}

mark {
  background-color: #f4ff81;
}

dt {
  font-weight: 700;
}

/**
 * Class Name Styles
 */
.Typography--display-4 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
}

.Typography--display-4--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;
  opacity: 0.54;
}

.Typography--display-3 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}

.Typography--display-3--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  opacity: 0.54;
}

.Typography--display-2 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
}

.Typography--display-2--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  opacity: 0.54;
}

.Typography--display-1 {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
}

.Typography--display-1--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  opacity: 0.54;
}

.Typography--headline {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

.Typography--headline--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.87;
}

.Typography--title {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.Typography--title--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  opacity: 0.87;
}

.Typography--subhead {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--subhead--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--Body-2--colorContrast {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--body-1--colorContrast {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-2--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--Body-2--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--body-1--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.Typography--body-1--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
}

.Typography--caption--forcePreferredFont {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
}

.Typography--caption--colorContrast {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  opacity: 0.54;
}

.Typography--caption--forcePreferredFont--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.08em;
  opacity: 0.54;
}

.Typography--menu {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
}

.Typography--menu--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--button {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
}

.Typography--button--colorContrast {
  font-family: "RobotoDraft", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.04em;
  opacity: 0.87;
}

.Typography--textLeft {
  text-align: left;
}

.Typography--textRight {
  text-align: right;
}

.Typography--textCenter {
  text-align: center;
}

.Typography--textJustify {
  text-align: justify;
}

.Typography--textNowrap {
  white-space: nowrap;
}

.Typography--textLowercase {
  text-transform: lowercase;
}

.Typography--textUppercase {
  text-transform: uppercase;
}

.Typography--textCapitalize {
  text-transform: capitalize;
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

.Typography--tableStriped > tbody > tr:nth-child(odd) > td,
.Typography--tableStriped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* Colors */
/*#e0e0e0;*/
/* Positions */
/* Set menu button position (left or right) to 0px */
/* Navigation Top */
/* Try 30%*/
/* Dimensions */
.sidenav {
  display: block;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(-240px);
      -ms-transform: translateX(-240px);
          transform: translateX(-240px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  color: #424242;
  z-index: 4;
}
.sidenav .logo {
  padding: 18px 24px 18px 24px;
  font-size: 24px;
  border-bottom: 1px solid #e0e0e0;
}

.sidenav.visible {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.sidenav.animatable {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.sidenav ul li > a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #424242;
  font-weight: 700;
  padding: 1.6em 1.6em;
}
.sidenav ul li a:hover {
  background-color: #e0e0e0;
}

.nav-button {
  display: block;
  width: 48px;
  height: 48px;
  position: fixed;
  left: auto;
  right: 0px;
  top: 0;
  background-image: url(http://google.github.io/web-starter-kit/november-2014/dist/images/hamburger.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
}

.sidenav-modal-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  will-change: opacity;
  opacity: 0.000001;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 3;
}

.sidenav-modal-bg.animatable {
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
          transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidenav-modal-bg.visible {
  opacity: 1;
  pointer-events: all;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.sidenav-content, .sidenav-static-content {
  padding: 16px 24px;
}

@media screen and (min-width: 850px) {
  .nav-button {
    display: none;
  }

  .sidenav-modal-bg.visible {
    opacity: 0.1;
    pointer-events: none;
  }
}
.sidenav-static {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidenav-static .sidenav-nav {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
}

@media screen and (min-width: 850px) {
  .sidenav-static {
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
  }

  .sidenav ul li a {
    padding: 1.1em 1.6em;
  }

  .sidenav-static.transparent {
    background: none;
    box-shadow: none;
    border-right: none;
  }

  .sidenav-static.transparent h1 {
    color: #fafafa;
  }

  .sidenav-static.transparent .sidenav-nav ul li a {
    color: #eeeeee;
  }
  .sidenav-static.transparent .sidenav-nav ul li a:hover {
    background-color: rgba(97, 97, 97, 0.6);
  }

  .sidenav-static-content {
    padding: 16px 264px;
  }
}
body {
  margin: 0px;
}

.styleguide-demo h1 {
  margin: 48px 24px 0 24px;
}

.styleguide-demo h1:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 24px;
}

.styleguide-demo {
  opacity: 0;
  -webkit-transition: opacity 0.6s 0 ease;
          transition: opacity 0.6s 0 ease;
}

.styleguide-masthead {
  height: 256px;
  background: #2a36b1;
  padding: 115px 16px 0;
}

.styleguide-container {
  position: relative;
  max-width: 960px;
  width: 100%;
}

.styleguide-title {
  color: #fff;
  bottom: auto;
  position: relative;
  font-size: 56px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.02em;
}
.styleguide-title:after {
  border-bottom: 0px;
}
.styleguide-title span {
  font-weight: 300;
}

.demosLoaded .styleguide-demo {
  opacity: 1;
}

iframe {
  display: block;
  width: 100%;
  border: none;
}

iframe.heightSet {
  overflow: hidden;
}

.demo-wrapper {
  margin: 24px;
}
.demo-wrapper iframe {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/*
@media (max-width: 600px) {
    .styleguide-masthead {
        height:300px;
    }
}
*/
